/* .container-fluid{
    
    background: rgb(234,238,174);
background: radial-gradient(circle, rgba(234,238,174,1) 0%, rgba(13,42,77,1) 98%);
background: rgb(234,238,174);

}  */

body {
    background: rgb(234,238,174);
}

  

